/* Page - Projects */
.projects__header {
  text-align: center;
}

.projects__github-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 21px;
}

.projects__github-list li {
  width: 50%;
  text-align: left;
}

.projects__dashboard {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .projects__dashboard [class*=col-]:nth-of-type(n + 3) {
    margin-top: 56px;
  }
}

@media (min-width: 991px) {
  .projects__dashboard [class*=col-]:nth-of-type(n + 4) {
    margin-top: 56px;
  }
}

@media (max-width: 767px) {
  .projects__dashboard [class*=col-]:nth-of-type(n + 2) {
    margin-top: 56px;
  }
}

.project__thumbnail {
  transition: transform var(--tr-part);
}

.project__thumbnail:hover {
  transform: scale(1.05);
}

.project__body {
  padding-top: 16px;
  font-weight: 700;
}

.project__link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-decoration: none;
  color: var(--color-black);
  transition: color var(--tr-part);
}

.project__link:hover {
  color: var(--color-brand);
}

.project__number {
  font-size: responsive 18px 21px;
}

.project__heading {
  padding-left: 12px;
}
