/* Layout */
.footer,
.header {
  text-align: center;
}

.footer ul,
.header ul {
  width: 100%;
  list-style-type: none;
}

.footer a,
.header a {
  color: #111;
  transition: color var(--tr-part);
}

.footer a:hover,
.header a:hover {
  color: var(--color-brand);
}
